/* Umum */
.img-fluid {
    max-width: 100%;
    height: auto;
}

#btn-hotline{
    font-weight: bold; 
    margin-left: 0; 
    margin-right: 2px; 
    margin-top: 5px; 
    color: white;
    border: #0454a3;
    border-radius: 10px;
    background-color: #0454a3; 
}

#btn-tentang{
    background-color:#0454a3;
    border:none;
    text-decoration:none;
    color:white;
    padding: 10px 13px;
    display: inline-block;
    float:right;
    margin-top:55px;
    margin-bottom: 50px;
    font-size: medium;
}
#btn-mpk{
    background: #0454a3; font-weight:bold; border: none;
}


.carousel-item .flex{
    justify-content: center;
    align-items: center;
}

#carouselExample2{
    display: none;
}
#produk-layanan .carousel-item .d-flex{
    justify-content: center;
    align-items: center;
}

.font-tentang-perusahaan {
    text-align: center;
    font-size: 1.2em;
}

/* Tentang Kami*/
.tab-content .tab-pane:not(.active) {
    display: none !important;
}


.scroll-indicator, .horizontal-list, .close-btn {
    display: none;
}

/* Navigasi dan Navbar */
.nav-item {
    margin: 0px;
}

.nav-link.me-5 {
    font-size: 1.25rem;
    color: white;
    font-weight: bold;
}

.navbar-nav .nav-link {
    font-size: 1rem;
}

.navbar .dropdown-menu .dropdown-item:hover {
    background-color: #0454a3;
    color: #fff;
}

.dropdown-item {
    font-size: small;
}

.navigasi-hamburger {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}

.navigasi {
    display: flex;
}

.deskripsi-alamat {
    font-size: x-small;
}

/* Logo dan Gambar */
#logo-resp, #img-footer-hamburger, #img-footer-hamburger2 {
    display: none;
}

#img-footer-hamburger {
    max-width: 50px;
    height: 60px;
}

#img-footer-hamburger2 {
    margin-top: 112px;
    width: auto;
    height: auto;
}

.logoIso {
    width: 60px;
    height: 60px;
    margin: 5px;
}

.carousel-image {
    width: 120vh;
    height: 100vh;
    object-fit: cover;
}

/* Carousel */
#carouselExampleFade, #carouselExample {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

#carouselExample .carousel-inner {
    margin-left: -45px;
}

.carousel-inner {
    width: 100%;
    height: 100%;
    margin: 0;
}

#carousel-produk {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-left: 90px;
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.carousel-control-prev,
.carousel-control-next {
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    height: auto;
    background: none;
    border: none;
    outline: none;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 1rem;
}

/* Card */
.judul-pl{
    margin-top: 5px;
}

.card {
    height: 300px;
    width: 13.5rem;
    margin: 10px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 15px 15px -5px rgba(0, 0, 0, 0.5);
    flex-shrink: 0;
}

.card img {
    width: 95%;
    height: 150px;
    padding: 10px;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    width: 100%;
    height: 100%;
    display: flex;
}

/* Button */
#btn-selengkapnya-layanan {
    background-color:#0454a3;
    color: white;
    text-decoration: none;
    font-size: 15px;
    opacity: 90%;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: fit-content;
    width: fit-content;
    margin-bottom: 20px;
    margin-right: 10px;
}

#btn-selengkapnya-footer {
    background-color: #0454a3;
    border: none;
    text-decoration: none;
    color: white;
    padding: 15px 50px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

/* Produk dan Layanan */
#produk-layanan {
    background-color: #0055a5;
    padding: 40px 0;
    margin-top: 0px;
}

#produk-layanan h1, .font-produk-layanan {
    text-align: center;
    color: white;
    font-weight: bold;
}

.font-produk-layanan {
    font-size: 3rem;
    padding: 30px;
}

/* Tentang Kami */
#tentang-kami {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
}

.about-tab {
    color: #0454a3;
    font-weight: bold;
    font-size: large;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.mengapa-pilih-kami {
    display: flex;
    flex-wrap: nowrap;
}

.tab-pane {
    display: none; /* Sembunyikan semua tab secara default */
}

.tab-pane.show {
    display: block; /* Tampilkan tab aktif */
}

.gambare-jelang {
    width: 85%; /* Atau ukuran spesifik, misalnya width: 300px */
    height: auto; /* Sesuaikan dengan kebutuhan */
    object-fit: contain; /* Gambar akan dipotong untuk memenuhi ukuran kontainer */
    display: block; /* Agar gambar dianggap sebagai block element */
    margin: 0 auto; /* Mengatur gambar berada di tengah secara horizontal */
}



/* Sertifikat */
#sertifikat {
    width: 400px;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.19);
    margin: 10px;
    min-height: 450px;
    max-height: 500px;
}

/* Direksi*/
/* Atur ukuran gambar direksi */
.img-direksi {
    width: 100%; /* Gambar akan mengambil seluruh lebar container */
    height: 800px; /* Tinggi gambar akan menyesuaikan secara proporsional */
}

/* Layanan Area*/
.gambare-layanan {
    width: 100%; 
    height: 700px; 
    display: block;
}

#carousel-control-sertif {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 20px solid #0454a3;
}

/* Footer */
.footer {
    background-color: #0454a3;
    padding: 20px;
    color: white;
}

.footer p, .footer a {
    margin: 0;
    color: white;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .social-icons a {
    margin-right: 10px;
    color: white;
    font-size: 2.5rem;
}

.footer .contact-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.footer .contact-info i {
    font-size: 2.5rem;
    margin-right: 10px;
}

.footer .contact-info p {
    margin-bottom: 5px;
    line-height: 1.5;
}

.footer .contact-info p.title {
    font-weight: bold;
    font-size: 1rem;
}

.footer .contact-info p.deskripsi {
    font-size: 0.8rem;
}

.contact-info .bi-geo-alt-fill {
    color: white;
}

/* Floating Button */
.btn-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}

.floating-btn {
    position: fixed; /* Menggunakan posisi fixed agar tetap di layar saat di-scroll */
    right: 2px; /* Di tepi kanan */
    top: 50%; /* Di tengah secara vertikal */
    transform: translateY(-50%); /* Menyelaraskan ke tengah secara vertikal */
    z-index: 1000; /* Agar tombol selalu berada di atas elemen lainnya */
    text-align: center;
    cursor: grab; /* Mengganti kursor menjadi tangan ketika hover */
    }

.floating-btn:active {
    cursor: grabbing; /* Mengganti kursor menjadi tangan tertutup ketika di-drag */
}

/* Gaya responsif untuk mobile */
@media (max-width: 888px) {
    #nav-hamburger{
        color:black;
        background-color: #fff;
        text-align: left;
        border-color: transparent;
        margin-left:26px;
    }
    .dropdown-item{
        background-color: white;
        color: black;
    }
    .navbar-collapse {
        position: fixed;
        top: 0;
        right: -250px; /* Start off-screen */
        width: 100%;
        height: 100%;
        background-color: white; /* Sesuaikan dengan warna yang diinginkan */
        transition: right 0.3s ease; /* Untuk efek slide in/out */
        z-index: 1050;
        padding-top: 20px; /* Supaya tombol X tidak terlalu mepet */
    }

    .navbar-collapse.show {
        text-align: left;
        background-color: white !important;
        right: 0; /* Menampilkan menu */
    }

    .navbar-toggler {/* Warna tombol toggle */
        border: none;
    }
    .close-btn {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 24px;
        background: rgb(245, 245, 245);
        border: none;
        cursor: pointer;
        display: block;

    }

    .scroll-indicator {
        display: block;
        width: 40px;
        height: 40px;
        margin-top:-30px;
        border: 3px solid #333; /* Warna dan ketebalan border */
        border-radius: 50%; /* Membuat indikator berbentuk lingkaran */
        position: relative;
        animation: scrollSideways 2s infinite; /* Animasi ke kanan dan kiri */
        cursor: pointer;
    }

    .scroll-indicator::after {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        background-color: #333; /* Warna titik di dalam lingkaran */
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: dotMoveSideways 2s infinite; /* Animasi titik bergerak ke kanan dan kiri */
    }

    @keyframes scrollSideways {
        0%, 100% {
            transform: translateX(0);
        }
        50% {
            transform: translateX(10px);
        }
    }

    @keyframes dotMoveSideways {
        0%, 100% {
            left: 50%;
            opacity: 1;
        }
        25% {
            left: 60%;
            opacity: 0.8;
        }
        75% {
            left: 40%;
            opacity: 0.8;
        }
    }

    .carousel-image {
        width: 100%; /* Mengambil lebar penuh dari kontainer */
        height: 50%; /* Menjaga proporsi gambar */
        max-width: 400px; /* Maksimal lebar gambar diatur */
        max-height: 350px; /* Maksimal tinggi gambar diatur */
        object-fit: contain; /* Gambar tetap memenuhi area tanpa mengubah proporsi */
    }
    
    .font-produk-layanan{
        color: white;
        font-size: 25.6pt;
        padding: 2px;
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: center;
    }
    
    #produk-layanan {
        font-size: 1.6em;
        margin-top: 0px;
        padding: 0 0 8rem 0;
        display: none;
        background: url('/assets/gambar_landingpage/bg.png');
        background-size: cover; /* Mengatur gambar background mencakup seluruh area tanpa mengubah rasio aspek */
    }

    #produk-layanan2{
        font-size: 1.6em;
        margin-top: 0px;
        padding: 0 0 5rem 0;
        background: url('/assets/gambar_landingpage/bg.png');
        background-size: cover; /* Mengatur gambar background mencakup seluruh area tanpa mengubah rasio aspek */
    }

    #tentang-kami{
        font-size: 25.6px;
        color:black;
        text-align: center;
        }
        
    .navigasi {
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 1000; /* Ensure it is on top of other content */
        height: 50px;
    }

    .nav-item {
        background-color: white;
        color:black;
        flex: 0 0 auto;
    }

    #aboutTab {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch; /* untuk smooth scrolling di iOS */
        padding-left: 280px !important;
    }

    #aboutTab .nav-item {
        flex: 0 0 auto; /* Pastikan item tidak mengisi penuh layar */
    }

    /* Opsional: menyesuaikan lebar setiap tab untuk menampilkan 2-3 item pada awal */
    #aboutTab .nav-link {
        min-width: 150px; /* sesuaikan ukuran ini untuk kebutuhan Anda */
        text-align: center;
    }

    .topheader {
        display: none;
    }

    .navbar-nav {
        text-align: center;
    }

    .navbar-toggler {
        margin-right: 0;
    }

    #carouselExampleFade {
        width: 100%;
        height: auto;
        padding:0px;
        margin:0px; /* Otomatis menyesuaikan tinggi berdasarkan lebar */
    }
    #carouselExampleFade .carousel-inner{
        margin-top: -35px;
    }

    .navbar-toggler-icon{
    margin-left:0px;
    }

    #logo-resp{
        display: block;
        width: 40px;
        height: 40px;

    }
    /* Setel gaya untuk item carousel */


    /* Gaya untuk tombol melayang */
    .floating-btn {
        width: 50px;
        height: 50px;
        position: fixed;
        margin-left: 200px;
    }

    /* Gaya default untuk card */
    #card-container {
        display: block; /* Tampilkan satu card per slide */
        width: 50%;
        padding: 70px;
        height: 50px;
    }

    /* Pastikan semua elemen dalam carousel rata */
    #carousel-inner {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center; /* Pusatkan elemen */
    }

    .card {
        width: 80%;
        height: 350px; /* Atur lebar card sesuai kebutuhan */
        margin: 0px; /* Pusatkan dan beri margin bawah */
        box-sizing: border-box;
        padding:20px;
        border-radius: 50px;
        /* Pastikan padding tidak mempengaruhi total width */
    }

    .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto; /* Sesuaikan tinggi gambar */
    }

    .img-container img {
        max-width: 25px; /* Buat gambar responsif */
        height: 25px; /* Sesuaikan tinggi secara proporsional */
    }
    .font-tentang-perusahaan{
        text-align: center; font-size:x-large;
    }

    .btn-baca{
        background-color:#0454a3; border:none; text-decoration:none; color:white; padding: 15px 50px; display: inline-block; float:right; margin-top:60px; margin-bottom: 80px;
    }

    .font-tentang-perusahaan{
        font-size: 0.9em;
        color:black;
        align-items: center;
        margin-top: -12px;
    }
    
    .btn-baca{
        height: fit-content;
        width: fit-content;
        font-size: 15px;
        padding: 10px;
        border-radius: 10px;

    }

    .mengapa-pilih-kami{
        display: inline-flex;
        margin-top: -50px;
    }

    .card img{
        height: 140px;
        width: auto;
        object-position: center;
        margin-left: 0px;
        margin-top: 5px;
        padding:0px;

    }

    /* Footer */
    .footer .contact-info p.deskripsi {
        font-size: 10px;
        color:white;
    }

    p.title{
        font-size: 20px;
    }
    .footer .social-icons {
        margin-right: 10px;
        color: white;
        height: 15px;
        width: auto;
    }

    .card-title {
        font-size: 1.1rem;
        font-weight: bold;
        color: #003366; /* Darker blue color */
    }

    .card-text {
        font-size: 0.9rem;
        font-weight: bold;
        color: black; /* Lighter blue for subtitle */
    }
    #tentang-kami{
        font-weight: bold; font-size: 25px; margin-top: 50px;
    }
    #sertifikat{
        margin:0px; 
        margin-top:-8px;
        width: 300px; 
        height: fit-content; 
    }
    #carousel-control-sertif{
        display: none;
    }

    #btn-selengkapnya-layanan{
    background-color:#003366; color:white;
    text-decoration: none;
    font-size: 8px; opacity: 90%; border-radius: 10px;
    padding: 10px;
     position: absolute;
     bottom: 0px;
     right: 0px;
     height: fit-content;
     width: fit-content;
    }

    #copyright{
        margin-top: 100px;
    }

    .floating-btn h5{
        font-size: 12px;
        margin-top: 10px;
        font-weight: bold;
        margin-left: 50px;

    }
    .btn-img {
        margin-right: 50px;
        height: 100%;
        width: 100%;
       /* Warna latar merah untuk efek awal */
        animation: emergencyLightGlow 1.7s infinite alternate; /* Durasi 1 detik dengan pengulangan */
        display: block; /* Menghapus gaya float jika ada */
        margin-bottom: 5px; /* Memberikan jarak antara gambar dan teks */
    }

    .floating-btn {
        position: fixed; /* Menggunakan posisi fixed agar tetap di layar saat di-scroll */
        right: 2px; /* Di tepi kanan */
        top: 50%; /* Di tengah secara vertikal */
        transform: translateY(-50%); /* Menyelaraskan ke tengah secara vertikal */
        z-index: 1000; /* Agar tombol selalu berada di atas elemen lainnya */
        text-align: center;
        cursor: grab; /* Mengganti kursor menjadi tangan ketika hover */
        }
    
    .floating-btn:active {
        cursor: grabbing; /* Mengganti kursor menjadi tangan tertutup ketika di-drag */
    }

    @keyframes emergencyLightGlow {
        0% {
            background-color: white;
            box-shadow: 0 0 5px 5px rgb(216, 215, 215), 0 0 10px 10px rgb(216, 215, 215), 0 0 5px 5px rgb(216, 215, 215);
            filter: brightness(1.0);
        }
        50% {
            background-color: white;
            box-shadow: 0 0 5px 5px rgb(216, 215, 215), 0 0 10px 10px rgb(216, 215, 215), 0 0 5px 5px rgb(216, 215, 215);
            filter: brightness(1.0);
        }
        100% {
            background-color: white;
            box-shadow: 0 0 5px 5px rgb(234, 110, 110), 0 0 10px 10px rgb(234, 110, 110), 0 0 5px 5px rgb(234, 110, 110);
            filter: brightness(1.0);
        }
    }

    #navbarNav{
        background-image: url("../../assets/img/navbar.png");
    }
    .horizontal-list {
        list-style: none; /* Menghilangkan bullet point pada list */
        padding: 0; /* Menghilangkan padding default */
        margin-left: 90px; /* Menghilangkan margin default */
        display: flex; /* Menggunakan Flexbox untuk menyusun elemen menyamping */
        gap: 10px; /* Menambahkan jarak antar elemen */
    }

    .horizontal-list li {
        margin: 0; /* Menghilangkan margin default pada li */
        padding: 0; /* Menghilangkan padding default pada li */
    }

    #img-footer-hamburger {
        max-width: 50px; /* Atur ukuran gambar jika perlu */
        height: 60px;
        display: block;
         /* Memastikan gambar tetap proporsional */
    }
    #img-footer-hamburger2 {
        width: auto;
        margin-top:109px;/* Atur ukuran gambar jika perlu */
        height: auto;
        display: block;

         /* Memastikan gambar tetap proporsional */
    }
    #tentang-kami{
        margin-top: 30px;
    }

    #carouselExample .card{
        width: auto; /* Atur lebar tetap */
        height: 100%; /* Atur tinggi tetap */
        margin: 0px;
        display: flex; /* Memusatkan kartu */
    }

    #carouselExample .card-img-top{
        height: auto;
        padding: 10px;
        width: 100%;
    }

    #carouselExample{
        margin:0px;
        align-items: flex-end;
        justify-content: flex-start;
        padding: 0px;
    }

    .card {
        width: 100%; /* Atur lebar tetap */
        height: 100%px; /* Atur tinggi tetap */
        margin: 0px;
        display: grid; /* Memusatkan kartu */
    }

    .card-img-top {
        width: 90%; /* Gambar memenuhi lebar kartu */
        height: 100%; /* Gambar menyesuaikan tinggi secara proporsional */
        object-fit: contain;
        display: flex; /* Menjaga proporsi gambar */
    }

    .carousel-inner {
        width: 100%;
        height: 100%; /* Mengatur tinggi untuk mengisi kontainer */
        overflow: hidden;
        display: inline-flexbox;
        flex-direction: row;
        margin:0px;
        margin-top:20px;
        padding: 0px; /* Menyembunyikan bagian gambar yang keluar dari kontainer */
    }

    /* Setel gaya untuk gambar di dalam carousel */
    .carousel-awal{
        width: 100%;
        height: 200px;
    }
    .carousel-item img {
        width: 100%; /* Menyesuaikan lebar gambar dengan lebar kontainer */
        height: 100%; /* Sesuaikan tinggi gambar secara proporsional */
        object-fit: cover;
        margin:0px;

        border: none;
         /* Menjaga aspek rasio gambar, mengisi kontainer tanpa distorsi */
    }
    #produk-layanan .carousel-item .d-flex {
        gap: 1rem;
        width: 600px;
        margin-left: 90px;
        align-items: center;
        justify-content: flex-start; /* Adjust spacing for smaller screens */
    }
    #carousel-produk{
    margin-left: 20px;
    }
    #carouselExample{
        display: none;}
    #carouselExample2{
        display:block;
    }
    
    /* Gambar direksi*/
    .img-direksi {
        width: 100%; /* Gambar akan mengambil seluruh lebar container */
        height: 250px; /* Tinggi gambar akan menyesuaikan secara proporsional */
        margin-bottom: 20px;
    }

    /* Layanan Area*/
    .gambare-layanan {
        width: 100%; 
        height: 250px; 
        display: block;
    }

     #btn-tentang{
        font-size: 0.8em;
        padding:10px 10px;
        height: fit-content;
        width: fit-content;
     }
     
     #btn-mpk{
        font-size: 0.6em;
        height: fit-content;
        width: fit-content;
     }

     #btn-hotline{
        font-weight: bold;
        font-size: x-small; 
        margin-left: -3px; 
        margin-right: 0; 
        margin-top: 5px; 
        color: white;
        border: #0454a3;
        border-radius: 10px;
        background-color: #0454a3;
        
    }
    
}


/* Setel tinggi dan lebar carousel */

/* Gaya responsif untuk mobile */
@media (max-width: 768px) {
    #img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2px;
        width: 15%;
    }

    #card-img {
        width: 10%;
        height: auto;
    }

    .about-tab{
        background-color: white;
        font-size: 12px;
        margin-left: 0;
        margin-right: 0;
        border-radius: 0px;
    }

}



