/* Umum */
#btn-hotline{
    font-weight: bold; 
    margin-left: 0; 
    margin-right: 2px; 
    margin-top: 5px; 
    color: white;
    background-color:#0454a3;
    border-radius: 10px;
}

#btn-mpk{
    background: #0454a3; font-weight:bold; border: none;
}

.scroll-indicator, .horizontal-list, .close-btn {
    display: none;
}

/* Navigasi dan Navbar */
.nav-item {
    margin: 0px;
}

.nav-link.me-5 {
    font-size: 1.25rem;
    color: white;
    font-weight: bold;
}

.navbar-nav .nav-link {
    font-size: 1rem;
}

.navbar .dropdown-menu .dropdown-item:hover {
    background-color: #0454a3;
    color: #fff;
}

.dropdown-item {
    font-size: small;
}

.navigasi-hamburger {
    font-size: 1.3rem;
    color: white;
    font-weight: bold;
}

.navigasi {
    display: flex;
}

/* Logo dan Gambar */
#logo-resp, #img-footer-hamburger, #img-footer-hamburger2 {
    display: none;
}

#img-footer-hamburger {
    max-width: 50px;
    height: 60px;
}

#img-footer-hamburger2 {
    margin-top: 112px;
    width: auto;
    height: auto;
}

.logoIso {
    width: 60px;
    height: 60px;
    margin: 5px;
}

/* Konten Mengapa memilih kami*/
.isi-konten-mengapa {
    background-color: #0454a3;
    color: white;
    padding: 30px;
    margin-top: 5px;
}

.judul-mengapa {
    font-weight: bold;
    margin-bottom: 50px;
}

.judule-konten {
    text-align: justify;
    margin-top: 25px;
    font-size: 3rem;
}

.deskripsine-konten {
    text-align: justify;
    margin-top: 25px;
    font-size: large;
}

.why-choose-us-btn {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    margin: 0 15px;
    font-weight: bold;
    font-size: large;
}

.why-choose-us-btn:hover {
    background-color: white;
    color: #0454a3;
}

.why-choose-us-btn.active {
    background-color: white;
    color: #0454a3;
}

.why-choose-us-content-section {
    display: none;
    text-align: center;
    margin-top: 50px;
}

.why-choose-us-content-section.active {
    display: block;
    
}

.gambare-konten {
    border-radius: 20px;
    width: 800px;
    height: 400px;
}

.why-choose-us-btn-container {
    text-align: center;
    margin-bottom: 20px;
}

.bg-section-mengapa {
    background-image: url('/assets/gambar_mengapa/background-mengapa.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 800px; /* Atur tinggi minimum agar background terlihat */
}

/* Mengatur agar carousel berada di tengah halaman */
.carousel-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Menggunakan 100% tinggi viewport untuk menengahkan vertikal */
}

.judul-card {
    text-align: center;
    margin-bottom: 20px;
}

/* Mengatur lebar tetap kartu */
.card-mengapa {
    width: 80rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7); /* Hitam dengan transparansi 70% */
    color: white;
    padding: 20px;
    border-radius: 20px;
    text-align: justify;
    font-size: larger;
}

/* Mengatur gambar di dalam kartu */
.card-img-top {
    max-width: 125px;
    max-height: 125px;
    object-fit: contain;
    margin: auto;
}

.deskripsi-card {
    font-size: medium;
}

/* Mengatur margin pada carousel */
.carousel-inner {
    padding: 20px 0;
}


/* Footer */
.footer {
    background-color: #0454a3;
    padding: 20px;
    color: white;
}

.footer p, .footer a {
    margin: 0;
    color: white;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .social-icons a {
    margin-right: 10px;
    color: white;
    font-size: 2.5rem;
}

.footer .contact-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.footer .contact-info i {
    font-size: 2.5rem;
    margin-right: 10px;
}

.footer .contact-info p {
    margin-bottom: 5px;
    line-height: 1.5;
}

.footer .contact-info p.title {
    font-weight: bold;
    font-size: 1rem;
}

.footer .contact-info p.deskripsi {
    font-size: 0.8rem;
}

.contact-info .bi-geo-alt-fill {
    color: white;
}

/* Floating Button */
.floating-btn {
    position: fixed; /* Tetap di layar meskipun di-scroll */
    right: 2px; /* Tetap di sisi kanan layar */
    top: 50%; /* Mulai di tengah secara vertikal */
    transform: translateY(-50%); /* Selaraskan tombol secara vertikal */
    z-index: 1000; /* Tetap di atas elemen lain */
    text-align: center;
    cursor: grab; /* Kursor tangan untuk drag */
}

.floating-btn:active {
    cursor: grabbing; /* Kursor berubah saat di-drag */
}

.btn-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}


.facebook-icon, .instagram-icon, .youtube-icon, .whatsapp-icon, .profile-icon {
    position: absolute;
    background-color: #0071BC;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    opacity: 0;
  }
  
  .facebook-icon i, .instagram-icon i, .youtube-icon i, .whatsapp-icon i, .profile-icon i {
    font-size: 1.5rem;
  }


/* Gaya responsif untuk mobile */
@media (max-width: 888px) {

    #nav-hamburger{
        color:black;
        background-color: #fff;
        text-align: left;
        border-color: transparent;
        margin-left:26px;
    }
    .dropdown-item{
        background-color: white;
        color: black;
    }
    .navbar-collapse {
        position: fixed;
        top: 0;
        right: -250px; /* Start off-screen */
        width: 100%;
        height: 100%;
        background-color: white; /* Sesuaikan dengan warna yang diinginkan */
        transition: right 0.3s ease; /* Untuk efek slide in/out */
        z-index: 1050;
        padding-top: 20px; /* Supaya tombol X tidak terlalu mepet */
    }

    .navbar-collapse.show {
        text-align: left;
        background-color: white !important;
        right: 0; /* Menampilkan menu */
    }

    .navbar-toggler {/* Warna tombol toggle */
        border: none;
    }
    .close-btn {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 24px;
        background: rgb(245, 245, 245);
        border: none;
        cursor: pointer;
        display: block;

    }

    .scroll-indicator {
        display: block;
        width: 40px;
        height: 40px;
        margin-top:-30px;
        border: 3px solid #333; /* Warna dan ketebalan border */
        border-radius: 50%; /* Membuat indikator berbentuk lingkaran */
        position: relative;
        animation: scrollSideways 2s infinite; /* Animasi ke kanan dan kiri */
        cursor: pointer;
    }

    .scroll-indicator::after {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        background-color: #333; /* Warna titik di dalam lingkaran */
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: dotMoveSideways 2s infinite; /* Animasi titik bergerak ke kanan dan kiri */
    }

    @keyframes scrollSideways {
        0%, 100% {
            transform: translateX(0);
        }
        50% {
            transform: translateX(10px);
        }
    }

    @keyframes dotMoveSideways {
        0%, 100% {
            left: 50%;
            opacity: 1;
        }
        25% {
            left: 60%;
            opacity: 0.8;
        }
        75% {
            left: 40%;
            opacity: 0.8;
        }
    }

    .navigasi {
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 1000; /* Ensure it is on top of other content */
        height: 50px;
    }

    .nav-item {
        background-color: white;
        color:black;
    }

    .topheader {
        display: none;
    }

    .navbar-nav {
        text-align: center;
    }

    .navbar-toggler {
        margin-right: 0;
    }

    .navbar-toggler-icon{
    margin-left:0px;
    }

    #logo-resp{
        display: block;
        width: 40px;
        height: 40px;

    }

    /* Gaya untuk tombol melayang */
    .floating-btn {
        width: 50px;
        height: 50px;
        position: fixed;
        margin-left: 200px;
    }

    /* Konten Mengapa memilih kami*/
    .isi-konten-mengapa {
        background-color: #0454a3;
        color: white;
        padding: 30px;
        margin-top: 0px;
    }

    .judul-mengapa {
        font-weight: bold;
        font-size: 1.5rem;
        margin-bottom: 25px;
    }

    .judule-konten {
        text-align: justify;
        margin-top: 25px;
        font-size: 2rem;
    }

    .deskripsine-konten {
        text-align: justify;
        margin-top: 25px;
        font-size: small;
    }

    .why-choose-us-btn {
        background-color: transparent;
        color: white;
        border: 1px solid white;
        margin: 0 1px;
        font-weight: bold;
        font-size: small;
        margin-bottom: 10px;
    }

    .why-choose-us-btn:hover {
        background-color: white;
        color: #0454a3;
    }

    .why-choose-us-btn.active {
        background-color: white;
        color: #0454a3;
    }

    .why-choose-us-content-section {
        display: none;
        text-align: center;
        margin-top: 50px;
    }

    .why-choose-us-content-section.active {
        display: block;
        
    }

    .gambare-konten {
        border-radius: 20px;
        width: 700px;
        height: 200px;
    }

    .why-choose-us-btn-container {
        text-align: center;
        margin-bottom: 20px;
    }

    .bg-section-mengapa {
        background-image: url('/assets/gambar_mengapa/background-mengapa.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 200px; /* Atur tinggi minimum agar background terlihat */
    }

    /* Mengatur agar carousel berada di tengah halaman */
    .carousel-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Menggunakan 100% tinggi viewport untuk menengahkan vertikal */
    }

    .judul-card {
        text-align: center;
        margin-bottom: 20px;
        font-size: 1rem;
    }

    .deskripsi-card {
        font-size: x-small;
    }

    /* Mengatur lebar tetap kartu */
    .card-mengapa {
        width: 15rem;
        height: 28rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.7); /* Hitam dengan transparansi 70% */
        color: white;
        padding: 20px;
        border-radius: 20px;
        text-align: justify;
        font-size: 11px;
    }

    /* Mengatur gambar di dalam kartu */
    .card-img-top {
        max-width: 100px;
        max-height: 100px;
        object-fit: contain;
        margin: auto;
    }

    /* Mengatur margin pada carousel */
    .carousel-inner {
        padding: 20px 0;
    }

    /* Footer */

    .footer .contact-info p.deskripsi {
        font-size: 15px;
        color:white;
    }
    .footer .social-icons {
        margin-right: 10px;
        color: white;
        height: 15px;
        width: auto;
    }

    #copyright{
        margin-top: 100px;
    }
    .floating-btn h3{
        font-size: 12px;
        margin-top: 10px;
        font-weight: bold;
        margin-left: 20px;


    }
    .btn-img {
        margin-left: -3px;
        height: 100%;
        width: 100%;
       /* Warna latar merah untuk efek awal */
        animation: emergencyLightGlow 1.7s infinite alternate; /* Durasi 1 detik dengan pengulangan */
    }

    @keyframes emergencyLightGlow {
        0% {
            background-color: white;
            box-shadow: 0 0 5px 5px rgb(216, 215, 215), 0 0 10px 10px rgb(216, 215, 215), 0 0 5px 5px rgb(216, 215, 215);
            filter: brightness(1.0);
        }
        50% {
            background-color: white;
            box-shadow: 0 0 5px 5px rgb(216, 215, 215), 0 0 10px 10px rgb(216, 215, 215), 0 0 5px 5px rgb(216, 215, 215);
            filter: brightness(1.0);
        }
        100% {
            background-color: white;
            box-shadow: 0 0 5px 5px rgb(234, 110, 110), 0 0 10px 10px rgb(234, 110, 110), 0 0 5px 5px rgb(234, 110, 110);
            filter: brightness(1.0);
        }
    }


    .horizontal-list {
        list-style: none; /* Menghilangkan bullet point pada list */
        padding: 0; /* Menghilangkan padding default */
        margin-left: 90px; /* Menghilangkan margin default */
        display: flex; /* Menggunakan Flexbox untuk menyusun elemen menyamping */
        gap: 10px; /* Menambahkan jarak antar elemen */
    }

    .horizontal-list li {
        margin: 0; /* Menghilangkan margin default pada li */
        padding: 0; /* Menghilangkan padding default pada li */
    }

    #img-footer-hamburger {
        max-width: 50px; /* Atur ukuran gambar jika perlu */
        height: 60px;
        display: block;
         /* Memastikan gambar tetap proporsional */
    }
    #img-footer-hamburger2 {
        width: auto;
        margin-top:109px;/* Atur ukuran gambar jika perlu */
        height: auto;
        display: block;

         /* Menjaga aspek rasio gambar, mengisi kontainer tanpa distorsi */
    }
  
        #btn-hotline{
            font-weight: bold;
            font-size: x-small; 
            margin-left: -3px; 
            margin-right: 0; 
            margin-top: 5px; 
            color: white;
            border: #0454a3;
            border-radius: 10px;
            background-color: #0454a3;
    }

    /* Hotline Button */

    .facebook-icon, .instagram-icon, .youtube-icon, .whatsapp-icon, .profile-icon {
        position: absolute;
        background-color: #0071BC;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease;
        opacity: 0;
      }
      
      .facebook-icon i, .instagram-icon i, .youtube-icon i, .whatsapp-icon i, .profile-icon i {
        font-size: 1.5rem;
      }
      
}


/* Setel tinggi dan lebar carousel */

/* Gaya responsif untuk mobile */
    @media (max-width: 768px) {
    /*Hotline Button*/

    .facebook-icon, .instagram-icon, .youtube-icon, .whatsapp-icon, .profile-icon {
        position: absolute;
        background-color: #0071BC;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease;
        opacity: 0;
      }
      
      .facebook-icon i, .instagram-icon i, .youtube-icon i, .whatsapp-icon i, .profile-icon i {
        font-size: 1.5rem;
      }
  
}    
