/* Umum */
.img-fluid {
    max-width: 100%;
    height: auto;
}

#btn-hotline{
    font-weight: bold; 
    margin-left: 0; 
    margin-right: 2px; 
    margin-top: 5px; 
    color: white;
    background-color:#0454a3;
    border-radius: 10px;
}

#btn-tentang{
    background-color:#0454a3;
    border:none;
    text-decoration:none;
    color:white;
    padding: 15px 50px;
    display: inline-block;
    float:right;
    margin-top:55px;
    margin-bottom: 80px;
}

#btn-mpk{
    background: #0454a3; font-weight:bold; border: none;
}

.scroll-indicator, .horizontal-list, .close-btn {
    display: none;
}

/* Navigasi dan Navbar */
.nav-item {
    margin: 0px;
}

.nav-link.me-5 {
    font-size: 1.25rem;
    color: white;
    font-weight: bold;
}

.navbar-nav .nav-link {
    font-size: 1rem;
}

.navbar .dropdown-menu .dropdown-item:hover {
    background-color: #0454a3;
    color: #fff;
}

.dropdown-item {
    font-size: small;
}

.navigasi-hamburger {
    font-size: 1.3rem;
    color: white;
    font-weight: bold;
}

.navigasi {
    display: flex;
}

/* Logo dan Gambar */
#logo-resp, #img-footer-hamburger, #img-footer-hamburger2 {
    display: none;
}

#img-footer-hamburger {
    max-width: 50px;
    height: 60px;
}

#img-footer-hamburger2 {
    margin-top: 112px;
    width: auto;
    height: auto;
}

.logoIso {
    width: 60px;
    height: 60px;
    margin: 5px;
}

/* Carousel */

.carousel-item .flex{
    justify-content: center;
    align-items: center;
}

.carousel-image {
    width: 120vh;
    height: 100vh;
    object-fit: cover;
}

#carouselExampleFade, #carouselExample {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

#carouselExample .carousel-inner {
    margin-left: -45px;
}

.carousel-inner {
    width: 100%;
    height: 100%;
    margin: 0;
}

/* Artikel Swaac*/

/* Judul */
.judul-swaac {
    text-align: center;
    font-weight: bold;
    margin-top: 25px;
    color: #0454a3;
}

/* Mengatur ukuran section agar memenuhi satu layar desktop */
.content-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh; /* Menjaga tinggi section setidaknya satu layar penuh */
    padding: 20px;
    box-sizing: border-box; /* Memastikan padding tidak memengaruhi ukuran keseluruhan */
}

/* Mengatur item konten */
.content-item {
    display: flex;
    align-items: center;
    margin: 20px 0;
    width: 100%; /* Mengatur lebar penuh */
}

/* Mengatur gambar pertama */
.gambar1 {
    width: 30%;
    height: 55%;
    margin-right: 20px; /* Jarak di sisi kanan gambar */
    border-radius: 20px;
}

.gambar2 {
    width: 20%;
    height: 40%;
    margin-left: 20px; /* Jarak di sisi kanan gambar */
    border-radius: 20px;
}

/* Deskripsi */
.description {
    flex: 1; /* Memastikan deskripsi mengambil sisa ruang yang tersedia */
    font-size: 20px;
    text-align: justify; /* Mengatur teks menjadi rata kanan-kiri */
    margin: 0 20px; /* Jarak antara deskripsi dan gambar */
}

/* Mengatur gambar pertama agar di kiri dan deskripsinya di kanan */
.align-left {
    justify-content: flex-start;
    flex-direction: row; /* Gambar di kiri, deskripsi di kanan */
}

/* Mengatur gambar kedua agar di kanan dan deskripsinya di kiri */
.align-right {
    justify-content: flex-start;
    flex-direction: row-reverse; /* Gambar di kanan, deskripsi di kiri */
}


/* Button */

#btn-selengkapnya-footer {
    background-color: #0454a3;
    border: none;
    text-decoration: none;
    color: white;
    padding: 15px 50px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

/* Footer */
.footer {
    background-color: #0454a3;
    padding: 20px;
    color: white;
}

.footer p, .footer a {
    margin: 0;
    color: white;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .social-icons a {
    margin-right: 10px;
    color: white;
    font-size: 2.5rem;
}

.footer .contact-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.footer .contact-info i {
    font-size: 2.5rem;
    margin-right: 10px;
}

.footer .contact-info p {
    margin-bottom: 5px;
    line-height: 1.5;
}

.footer .contact-info p.title {
    font-weight: bold;
    font-size: 1rem;
}

.footer .contact-info p.deskripsi {
    font-size: 0.8rem;
}

.contact-info .bi-geo-alt-fill {
    color: white;
}

/* Floating Button */
.floating-btn {
    position: fixed; /* Tetap di layar meskipun di-scroll */
    right: 2px; /* Tetap di sisi kanan layar */
    top: 50%; /* Mulai di tengah secara vertikal */
    transform: translateY(-50%); /* Selaraskan tombol secara vertikal */
    z-index: 1000; /* Tetap di atas elemen lain */
    text-align: center;
    cursor: grab; /* Kursor tangan untuk drag */
}

.floating-btn:active {
    cursor: grabbing; /* Kursor berubah saat di-drag */
}

.btn-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}

.facebook-icon, .instagram-icon, .youtube-icon, .whatsapp-icon, .profile-icon {
    position: absolute;
    background-color: #0071BC;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    opacity: 0;
  }
  
  .facebook-icon i, .instagram-icon i, .youtube-icon i, .whatsapp-icon i, .profile-icon i {
    font-size: 1.5rem;
  }


/* Gaya responsif untuk mobile */
@media (max-width: 888px) {
    .img-fluid {
        max-width: 20px;
        height: 20px;
    }

    #nav-hamburger{
        color:black;
        background-color: #fff;
        text-align: left;
        border-color: transparent;
        margin-left:26px;
    }
    .dropdown-item{
        background-color: white;
        color: black;
    }
    .navbar-collapse {
        position: fixed;
        top: 0;
        right: -250px; /* Start off-screen */
        width: 100%;
        height: 100%;
        background-color: white; /* Sesuaikan dengan warna yang diinginkan */
        transition: right 0.3s ease; /* Untuk efek slide in/out */
        z-index: 1050;
        padding-top: 20px; /* Supaya tombol X tidak terlalu mepet */
    }

    .navbar-collapse.show {
        text-align: left;
        background-color: white !important;
        right: 0; /* Menampilkan menu */
    }

    .navbar-toggler {/* Warna tombol toggle */
        border: none;
    }
    .close-btn {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 24px;
        background: rgb(245, 245, 245);
        border: none;
        cursor: pointer;
        display: block;

    }

    .scroll-indicator {
        display: block;
        width: 40px;
        height: 40px;
        margin-top:-30px;
        border: 3px solid #333; /* Warna dan ketebalan border */
        border-radius: 50%; /* Membuat indikator berbentuk lingkaran */
        position: relative;
        animation: scrollSideways 2s infinite; /* Animasi ke kanan dan kiri */
        cursor: pointer;
    }

    .scroll-indicator::after {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        background-color: #333; /* Warna titik di dalam lingkaran */
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: dotMoveSideways 2s infinite; /* Animasi titik bergerak ke kanan dan kiri */
    }

    @keyframes scrollSideways {
        0%, 100% {
            transform: translateX(0);
        }
        50% {
            transform: translateX(10px);
        }
    }

    @keyframes dotMoveSideways {
        0%, 100% {
            left: 50%;
            opacity: 1;
        }
        25% {
            left: 60%;
            opacity: 0.8;
        }
        75% {
            left: 40%;
            opacity: 0.8;
        }
    }

    .navigasi {
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 1000; /* Ensure it is on top of other content */
        height: 50px;
    }

    .nav-item {
        background-color: white;
        color:black;
    }

    .topheader {
        display: none;
    }

    .navbar-nav {
        text-align: center;
    }

    .navbar-toggler {
        margin-right: 0;
    }

    #carouselExampleFade {
        width: 100%;
        height: auto;
        padding:0px;
        margin:0px; /* Otomatis menyesuaikan tinggi berdasarkan lebar */
    }
    #carouselExampleFade .carousel-inner{
        margin-top: -35px;
    }

    .navbar-toggler-icon{
    margin-left:0px;
    }

    #logo-resp{
        display: block;
        width: 40px;
        height: 40px;

    }

    /* Gaya untuk tombol melayang */
    .floating-btn {
        width: 50px;
        height: 50px;
        position: fixed;
        margin-left: 200px;
    }

    /* Artikel Swaac*/

    /* Judul */
    .judul-swaac {
        font-size: 22px; /* Mengurangi ukuran font judul */
        margin-bottom: 5px; /* Mengurangi margin bawah judul */
        color: #0454a3;
    }

    /* Section tetap memenuhi satu layar */
    .content-section {
        padding: 15px; /* Mengurangi padding agar lebih proporsional */
    }

    /* Mengatur item konten */
    .content-item {
        flex-direction: column; /* Membuat gambar pertama berada di atas deskripsi */
        margin: 15px 0;
    }

    /* Mengatur gambar pertama agar berada di tengah */
    .gambar1 {
        width: 90%;
        margin: 0 auto 15px auto; /* Mengatur gambar agar berada di tengah dan memberi jarak dengan deskripsi */
        margin-top: 5px;
    }

    /* Mengatur gambar kedua tetap di bawah kanan */
    .gambar2 {
        width: 90%; /* Memperbesar gambar kedua agar lebih proporsional */
        margin: 15px auto 0 auto; /* Menempatkan gambar kedua di tengah, dengan jarak margin atas */
        align-self: flex-end; /* Tetap menempel di bawah kanan */
    }

    /* Deskripsi */
    .description {
        font-size: 15px; /* Mengurangi ukuran font deskripsi agar sesuai dengan layar */
        margin: 15px 0; /* Memberikan jarak yang lebih kecil pada margin */
    }
    /* Footer */

    .footer .contact-info p.deskripsi {
        font-size: 10px;
        color:white;
    }

    p.title {
        font-size: 20px;
    }

    .footer .social-icons {
        margin-right: 10px;
        color: white;
        height: 15px;
        width: auto;
    }
    .card-title {
        font-size: 1.1rem;
        font-weight: bold;
        color: #003366; /* Darker blue color */
    }

    .card-text {
        font-size: 0.9rem;
        font-weight: bold;
        color: #007bff; /* Lighter blue for subtitle */
    }

    #copyright{
        margin-top: 100px;
    }
    .floating-btn h3{
        font-size: 12px;
        margin-top: 10px;
        font-weight: bold;
        margin-left: 20px;


    }
    .btn-img {
        margin-left: -3px;
        height: 100%;
        width: 100%;
       /* Warna latar merah untuk efek awal */
        animation: emergencyLightGlow 1.7s infinite alternate; /* Durasi 1 detik dengan pengulangan */
    }

    @keyframes emergencyLightGlow {
        0% {
            background-color: white;
            box-shadow: 0 0 5px 5px rgb(216, 215, 215), 0 0 10px 10px rgb(216, 215, 215), 0 0 5px 5px rgb(216, 215, 215);
            filter: brightness(1.0);
        }
        50% {
            background-color: white;
            box-shadow: 0 0 5px 5px rgb(216, 215, 215), 0 0 10px 10px rgb(216, 215, 215), 0 0 5px 5px rgb(216, 215, 215);
            filter: brightness(1.0);
        }
        100% {
            background-color: white;
            box-shadow: 0 0 5px 5px rgb(234, 110, 110), 0 0 10px 10px rgb(234, 110, 110), 0 0 5px 5px rgb(234, 110, 110);
            filter: brightness(1.0);
        }
    }


    .horizontal-list {
        list-style: none; /* Menghilangkan bullet point pada list */
        padding: 0; /* Menghilangkan padding default */
        margin-left: 90px; /* Menghilangkan margin default */
        display: flex; /* Menggunakan Flexbox untuk menyusun elemen menyamping */
        gap: 10px; /* Menambahkan jarak antar elemen */
    }

    .horizontal-list li {
        margin: 0; /* Menghilangkan margin default pada li */
        padding: 0; /* Menghilangkan padding default pada li */
    }

    #img-footer-hamburger {
        max-width: 50px; /* Atur ukuran gambar jika perlu */
        height: 60px;
        display: block;
         /* Memastikan gambar tetap proporsional */
    }
    #img-footer-hamburger2 {
        width: auto;
        margin-top:109px;/* Atur ukuran gambar jika perlu */
        height: auto;
        display: block;

         /* Memastikan gambar tetap proporsional */
    }
   
    .carousel-inner {
        width: 100%;
        height: 100%; /* Mengatur tinggi untuk mengisi kontainer */
        overflow: hidden;
        display: inline-flexbox;
        flex-direction: row;
        margin:0px;
        margin-top:20px;
        padding: 0px; /* Menyembunyikan bagian gambar yang keluar dari kontainer */
    }

    /* Setel gaya untuk gambar di dalam carousel */
    .carousel-item{
        width: 100%;
        height: 100%;

    }
    .carousel-item img {
        width: 100%; /* Menyesuaikan lebar gambar dengan lebar kontainer */
        height: 100%; /* Sesuaikan tinggi gambar secara proporsional */
        object-fit: cover;
        margin:0px;

        border: none;
         /* Menjaga aspek rasio gambar, mengisi kontainer tanpa distorsi */
    }
  
        #btn-hotline{
            font-weight: bold;
            font-size: x-small; 
            margin-left: -3px; 
            margin-right: 0; 
            margin-top: 5px; 
            color: white;
            border: #0454a3;
            border-radius: 10px;
            background-color: #0454a3;;
    }

    /* Hotline Button */

    .facebook-icon, .instagram-icon, .youtube-icon, .whatsapp-icon, .profile-icon {
        position: absolute;
        background-color: #0071BC;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease;
        opacity: 0;
      }
      
      .facebook-icon i, .instagram-icon i, .youtube-icon i, .whatsapp-icon i, .profile-icon i {
        font-size: 1.5rem;
      }
      

}


/* Setel tinggi dan lebar carousel */

/* Gaya responsif untuk mobile */
@media (max-width: 768px) {
    #img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2px;
        width: 15%;
    }

    #card-img {
        width: 10%;
        height: auto;
    }

    .about-tab{
        background-color: white;
        font-size: 12px;
        margin:5px;
        border-radius: 0px;
    }

    .carousel-image {
        height: 200px !important; /* Atur tinggi tetap untuk mode mobile */
        object-fit: cover !important; /* Agar gambar tetap memenuhi lebar container secara horizontal */
    }

    .carousel-image {
        height: 250px !important; /* Atur tinggi tetap untuk mode mobile */
        min-height: 200px !important; /* Pastikan ada tinggi minimal */
        object-fit: cover !important; /* Memotong gambar agar tetap memenuhi lebar container */
    }

    .carousel-inner {
        height: 250px !important;/* Menentukan tinggi tetap pada kontainer carousel di mode mobile */
    }

    /*Hotline Button*/

    .facebook-icon, .instagram-icon, .youtube-icon, .whatsapp-icon, .profile-icon {
        position: absolute;
        background-color: #0071BC;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease;
        opacity: 0;
      }
      
      .facebook-icon i, .instagram-icon i, .youtube-icon i, .whatsapp-icon i, .profile-icon i {
        font-size: 1.5rem;
      }
      
}



